@import "tailwindcss";

body {
    background-color: #FFF;
}

/* .richtext-outline,
.richtext-shadow {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.richtext-gap-3 {
    display:none !important;
} */